@media screen and (min-width: 1501px) {
    .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            margin-top: 6.25rem;
            width: 90rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left {
                width: 45.44rem;
                .title {
                    h2 {
                        font-family: Microsoft YaHei, sans-serif;
                        font-weight: bold;
                        font-size: 2.25rem;
                        color: #010811;
                        line-height: 2.64rem;
                        letter-spacing: 2px;
                    }
                    p {
                        margin-top: 0.63rem;
                        font-family: Abhaya Libre, sans-serif;
                        font-weight: 400;
                        font-size: 1.75rem;
                        color: #010811;
                        line-height: 2.8rem;
                        letter-spacing: 2px;
                    }
                }
                .desc {
                    margin-top: 1.25rem;
                    p {
                        font-family: Microsoft YaHei UI, sans-serif;
                        font-weight: 400;
                        font-size: 1.13rem;
                        color: #0f1d2e;
                        line-height: 2rem;
                        letter-spacing: 1px;
                        text-align: justify;
                    }
                }
            }
            .right {
                width: 41.75rem;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
    .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            margin-top: 6rem;
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left {
                width: 50%;
                .title {
                    h2 {
                        font-family: Microsoft YaHei, sans-serif;
                        font-weight: bold;
                        font-size: 2.25rem;
                        color: #010811;
                        line-height: 2.64rem;
                        letter-spacing: 2px;
                    }
                    p {
                        margin-top: 0.63rem;
                        font-family: Abhaya Libre, sans-serif;
                        font-weight: 400;
                        font-size: 1.75rem;
                        color: #010811;
                        line-height: 2.8rem;
                        letter-spacing: 2px;
                    }
                }
                .desc {
                    margin-top: 1.25rem;
                    p {
                        font-family: Microsoft YaHei UI, sans-serif;
                        font-weight: 400;
                        font-size: 1.13rem;
                        color: #0f1d2e;
                        line-height: 2rem;
                        letter-spacing: 1px;
                        text-align: justify;
                    }
                }
            }
            .right {
                width: 46%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
    .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            margin-top: 6rem;
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left {
                width: 50%;
                .title {
                    h2 {
                        font-family: Microsoft YaHei, sans-serif;
                        font-weight: bold;
                        font-size: 2.25rem;
                        color: #010811;
                        line-height: 2.64rem;
                        letter-spacing: 2px;
                    }
                    p {
                        margin-top: 0.63rem;
                        font-family: Abhaya Libre, sans-serif;
                        font-weight: 400;
                        font-size: 1.75rem;
                        color: #010811;
                        line-height: 2.8rem;
                        letter-spacing: 2px;
                    }
                }
                .desc {
                    margin-top: 1.25rem;
                    p {
                        font-family: Microsoft YaHei UI, sans-serif;
                        font-weight: 400;
                        font-size: 1.05rem;
                        color: #0f1d2e;
                        line-height: 1.5rem;
                        letter-spacing: 1px;
                        text-align: justify;
                    }
                }
            }
            .right {
                width: 46%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            margin-top: 6rem;
            width: 90%;
            .left {
                width: 100%;
                .title {
                    h2 {
                        font-family: Microsoft YaHei, sans-serif;
                        font-weight: bold;
                        font-size: 2rem;
                        color: #010811;
                        line-height: 2.64rem;
                        letter-spacing: 2px;
                        text-align: center;
                    }
                    p {
                        font-family: Abhaya Libre, sans-serif;
                        font-weight: 400;
                        font-size: 1.5rem;
                        color: #010811;
                        line-height: 2rem;
                        letter-spacing: 2px;
                        text-align: center;
                    }
                }
                .desc {
                    margin-top: 1.25rem;
                    p {
                        font-family: Microsoft YaHei UI, sans-serif;
                        font-weight: 400;
                        font-size: 1rem;
                        color: #0f1d2e;
                        line-height: 1.5rem;
                        letter-spacing: 1px;
                        text-align: justify;
                    }
                }
            }
            .right {
                margin-top: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 40rem;
                    width: 80%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            margin-top: 6rem;
            width: 90%;
            .left {
                width: 100%;
                .title {
                    h2 {
                        font-family: Microsoft YaHei, sans-serif;
                        font-weight: bold;
                        font-size: 2rem;
                        color: #010811;
                        line-height: 2.64rem;
                        letter-spacing: 2px;
                        text-align: center;
                    }
                    p {
                        font-family: Abhaya Libre, sans-serif;
                        font-weight: 400;
                        font-size: 1.5rem;
                        color: #010811;
                        line-height: 2rem;
                        letter-spacing: 2px;
                        text-align: center;
                    }
                }
                .desc {
                    margin-top: 1.25rem;
                    p {
                        font-family: Microsoft YaHei UI, sans-serif;
                        font-weight: 400;
                        font-size: 1rem;
                        color: #0f1d2e;
                        line-height: 1.5rem;
                        letter-spacing: 1px;
                        text-align: justify;
                    }
                }
            }
            .right {
                margin-top: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 40rem;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
