@media screen and (min-width: 1401px) {
    .pages {
        height: 27.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        .container {
            flex: 1;
            width: 80rem;
            display: flex;
            justify-content: space-between;
            padding-top: 4rem;
            .logo {
                width: 15rem;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .title {
                display: flex;
                align-items: center;
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 1.63rem;
                    color: #010811;
                    line-height: 2rem;
                }
                p {
                    margin-left: 1.5rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 1.25rem;
                    color: #010811;
                    line-height: 2rem;
                    letter-spacing: 1px;
                }
            }
            .line {
                margin: 1.88rem 0;
                width: 100%;
                height: 0.12rem;
                background-color: #78808a;
                position: relative;
            }
            .line::before {
                content: '';
                width: 6.25rem;
                height: 0.38rem;
                position: absolute;
                border-radius: 0.1rem;
                left: 0;
                top: -0.15rem;
                background-color: #af0d21;
            }
            .contact {
                margin-top: 0.5rem;
                width: 27.25rem;
                ul {
                    list-style: none;
                    li + li {
                        margin-top: 1.88rem;
                    }
                    li {
                        display: flex;
                        align-items: center;
                        img {
                            width: 1.38rem;
                            height: 1.38rem;
                        }
                        p {
                            margin-left: 0.88rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1.25rem;
                            color: #78808a;
                            line-height: 1.46rem;
                            letter-spacing: 1px;
                            text-align: left;
                        }
                    }
                }
            }
            .code {
                margin-top: 0.5rem;
                width: 20rem;
                .qr {
                    display: flex;
                    .qr_Box + .qr_Box {
                        margin-left: 1.8rem;
                    }
                    .qr_Box {
                        width: 8.38rem;
                        img {
                            width: 100%;
                            height: auto;
                        }
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #010811;
                            line-height: 1.17rem;
                            letter-spacing: 1px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .foot {
            width: 100%;
            height: 3.75rem;
            background: #0f2856;
        }
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .pages {
        height: 27.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        .container {
            flex: 1;
            width: 90%;
            display: flex;
            justify-content: space-between;
            padding-top: 4rem;
            .logo {
                width: 15rem;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .title {
                display: flex;
                align-items: center;
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 1.63rem;
                    color: #010811;
                    line-height: 2rem;
                }
                p {
                    margin-left: 1.5rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 1.25rem;
                    color: #010811;
                    line-height: 2rem;
                    letter-spacing: 1px;
                }
            }
            .line {
                margin: 1.88rem 0;
                width: 100%;
                height: 0.12rem;
                background-color: #78808a;
                position: relative;
            }
            .line::before {
                content: '';
                width: 6.25rem;
                height: 0.38rem;
                position: absolute;
                border-radius: 0.1rem;
                left: 0;
                top: -0.15rem;
                background-color: #af0d21;
            }
            .contact {
                margin-top: 0.5rem;
                width: 27.25rem;
                ul {
                    list-style: none;
                    li + li {
                        margin-top: 1.88rem;
                    }
                    li {
                        display: flex;
                        align-items: center;
                        img {
                            width: 1.38rem;
                            height: 1.38rem;
                        }
                        p {
                            margin-left: 0.88rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1.25rem;
                            color: #78808a;
                            line-height: 1.46rem;
                            letter-spacing: 1px;
                            text-align: left;
                        }
                    }
                }
            }
            .code {
                margin-top: 0.5rem;
                width: 20rem;
                .qr {
                    display: flex;
                    .qr_Box + .qr_Box {
                        margin-left: 1.8rem;
                    }
                    .qr_Box {
                        width: 8.38rem;
                        img {
                            width: 100%;
                            height: auto;
                        }
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #010811;
                            line-height: 1.17rem;
                            letter-spacing: 1px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .foot {
            width: 100%;
            height: 3.75rem;
            background: #0f2856;
        }
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .pages {
        height: 27.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        .container {
            flex: 1;
            width: 90%;
            display: flex;
            justify-content: space-between;
            padding-top: 4rem;
            .logo {
                width: 14rem;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .title {
                display: flex;
                align-items: center;
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 1.63rem;
                    color: #010811;
                    line-height: 2rem;
                }
                p {
                    margin-left: 1.5rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 1.25rem;
                    color: #010811;
                    line-height: 2rem;
                    letter-spacing: 1px;
                }
            }
            .line {
                margin: 1.88rem 0;
                width: 100%;
                height: 0.12rem;
                background-color: #78808a;
                position: relative;
            }
            .line::before {
                content: '';
                width: 6.25rem;
                height: 0.38rem;
                position: absolute;
                border-radius: 0.1rem;
                left: 0;
                top: -0.15rem;
                background-color: #af0d21;
            }
            .contact {
                margin-top: 0.5rem;
                width: 23rem;
                ul {
                    list-style: none;
                    li + li {
                        margin-top: 1.88rem;
                    }
                    li {
                        display: flex;
                        align-items: center;
                        img {
                            width: 1.38rem;
                            height: 1.38rem;
                        }
                        p {
                            margin-left: 0.88rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1.1rem;
                            color: #78808a;
                            line-height: 1.46rem;
                            text-align: left;
                        }
                    }
                }
            }
            .code {
                margin-top: 0.5rem;
                width: 20rem;
                .qr {
                    display: flex;
                    .qr_Box + .qr_Box {
                        margin-left: 1.5rem;
                    }
                    .qr_Box {
                        width: 8.38rem;
                        img {
                            width: 100%;
                            height: auto;
                        }
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #010811;
                            line-height: 1.17rem;
                            letter-spacing: 1px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .foot {
            width: 100%;
            height: 3.75rem;
            background: #0f2856;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    .pages {
        height: 27.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        .container {
            flex: 1;
            width: 90%;
            display: flex;
            justify-content: space-between;
            padding-top: 4rem;
            .logo {
                width: 12rem;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .title {
                display: flex;
                align-items: center;
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 1.5rem;
                    color: #010811;
                    line-height: 2rem;
                }
                p {
                    margin-left: 1rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 1.1rem;
                    color: #010811;
                    line-height: 2rem;
                    letter-spacing: 1px;
                }
            }
            .line {
                margin: 1.88rem 0;
                width: 100%;
                height: 0.12rem;
                background-color: #78808a;
                position: relative;
            }
            .line::before {
                content: '';
                width: 6.25rem;
                height: 0.38rem;
                position: absolute;
                border-radius: 0.1rem;
                left: 0;
                top: -0.15rem;
                background-color: #af0d21;
            }
            .contact {
                width: 20rem;
                ul {
                    list-style: none;
                    li + li {
                        margin-top: 1.5rem;
                    }
                    li {
                        display: flex;
                        align-items: flex-start;
                        img {
                            width: 1.1rem;
                            height: 1.1rem;
                        }
                        p {
                            margin-left: 0.88rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #78808a;
                            line-height: 1.1rem;
                            text-align: left;
                        }
                    }
                }
            }
            .code {
                width: 18rem;
                .qr {
                    display: flex;
                    .qr_Box + .qr_Box {
                        margin-left: 1.5rem;
                    }
                    .qr_Box {
                        width: 8.38rem;
                        img {
                            width: 100%;
                            height: auto;
                        }
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #010811;
                            line-height: 1.17rem;
                            letter-spacing: 1px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .foot {
            width: 100%;
            height: 3.75rem;
            background: #0f2856;
        }
    }
}

@media screen and (max-width: 769px) {
    .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        .container {
            width: 90%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 4rem 0;
            .logo {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 14rem;
                    height: auto;
                }
            }
            .title {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 1.63rem;
                    color: #010811;
                    line-height: 2rem;
                }
                p {
                    margin-left: 1.5rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 1.25rem;
                    color: #010811;
                    line-height: 2rem;
                    letter-spacing: 1px;
                }
            }
            .line {
                margin: 1.88rem 0;
                width: 100%;
                height: 0.12rem;
                background-color: #78808a;
                position: relative;
            }
            .line::before {
                content: '';
                width: 6.25rem;
                height: 0.38rem;
                position: absolute;
                border-radius: 0.1rem;
                left: 0;
                top: -0.15rem;
                background-color: #af0d21;
            }
            .contact {
                margin-top: 2rem;
                max-width: 27.25rem;
                width: 90%;
                ul {
                    list-style: none;
                    li + li {
                        margin-top: 1.88rem;
                    }
                    li {
                        display: flex;
                        align-items: center;
                        img {
                            width: 1.38rem;
                            height: 1.38rem;
                        }
                        p {
                            margin-left: 0.88rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1.25rem;
                            color: #78808a;
                            line-height: 1.46rem;
                            letter-spacing: 1px;
                            text-align: left;
                        }
                    }
                }
            }
            .code {
                margin-top: 2rem;
                max-width: 27.25rem;
                width: 90%;
                .qr {
                    display: flex;
                    .qr_Box + .qr_Box {
                        margin-left: 1.8rem;
                    }
                    .qr_Box {
                        width: 8.38rem;
                        img {
                            width: 100%;
                            height: auto;
                        }
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #010811;
                            line-height: 1.17rem;
                            letter-spacing: 1px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .foot {
            width: 100%;
            height: 3.75rem;
            background: #0f2856;
        }
    }
}
